{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<!--[if lt IE 9]> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title>QualiHewa - Air pollution monitoring system</title>


<!-- BOOTSTRAP -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media='screen'>
<!-- FONT ICONS -->
<link rel="stylesheet" href="{%static 'css/landingpage/ionicons.min.css'%}">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- WEB FONTS -->
<link href="{%static 'css/landingpage/style.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'css/landingpage/style2.css'%}" rel="stylesheet" type="text/css">

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="{%static 'css/landingpage/owl.theme.css'%}">
<link rel="stylesheet" href="{%static 'css/landingpage/owl.carousel.css'%}">
<link rel="stylesheet" href="{%static 'css/landingpage/nivo-lightbox.css'%}">
<link rel="stylesheet" href="{%static 'css/landingpage/default.css'%}">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="{%static 'css/landingpage/animate.min.css'%}">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="{%static 'css/landingpage/style3.css'%}">
<link rel="stylesheet" href="{%static 'css/landingpage/responsive.css'%}">
<link rel="stylesheet" href="{%static 'css/ekko-lightbox.min.css'%}">

<style>
	img.top {vertical-align:text-top;}
	img.bottom {vertical-align:text-bottom;}
	img.right { vertical-align: text-right;}
	img.left { vertical-align: text-left; }
</style>

<!-- SITE COLOR -->
<link id="changeable-colors" rel="stylesheet" href="{%static 'css/landingpage/blue.css'%}">

<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

</head>

<body>
<!-- =========================
	PRE LOADER       
============================== -->
<div class="preloader" style="display: none;">
  <div class="status" style="display: none;">&nbsp;</div>
</div>


<!-- =========================
	HEADER   
============================== -->
<header class="header fixed-image-bg" id="home">
	<!-- COLOR OVER IMAGE -->
	<div class="color-overlay full-screen" style="min-height: 600px;">

		<nav class="navbar navbar-default horizontal-gradient" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle button ionic collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon ion-navicon"></i>
					</button>
					<a style='color:white; font-size: 2em;' class="navbar-brand" href="{% url 'index' %}">
					QualiHewa
					</a>
				</div>

				<div class="navbar-collapse navbar-ex1-collapse collapse">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li class=""><a class="" href="#getting-started">About</a></li>
						<li><a id="header-nav-button" class="btn btn-sm" href="{% url 'admin:index' %}">Login </a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
			<!-- HERO -->
			<div class="primary-row" style="padding-top: 92px;">

				<div class="centered-display">
					<div class="header-content">
						<div class="centered-content">
							<h1>View Air pollution data for different areas</h1>
							<p class="subheading">Control air pollution and save lives</p>
							<div class="buttons">
								<a href="{% url 'dashboard' %}" class="btn btn-default btn-lg standard-button">View Data for all stations</a> 
								<a href="{% url 'stations' %}" class="scroll btn btn-lg btn-danger alternate-button">View Data for specific stations</a>		
							</div>
						</div>				
					</div>
				</div>
			
			</div>			
	
	</div>
	<!-- /END COLOR OVERLAY -->
</header>
			

<!-- =========================
	GETTING STARTED 
============================== -->
<section id="getting-started" class="getting-started-section section-wrapper">
	<div class="container">

		<!-- SECTION HEADER -->
		<div class="section-header wow fadeIn animated animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">What is QualiHewa all about?</h2>

			<div class="section-description">
				QualiHewa is a system that enables the monitoring of levels of air pollution in communities. Quali is derived from Quality. Hewa is a Swahili word for Air. Air Quality is what we aim to determine. A custom built air quality detector called The QualiHewa Analyser takes readings of different pollutants from the air and sends them to this platform. The data here is aggregated from different QualiHewa Analysers and presented in a simple and meaningful way. That is; inform of tables and charts. What you choose to do with this data is all up to you. We have provided a way for you to export this data and use it for different purposes. You can choose to view data for all stations or specific stations. A station is a place with a QualiHewa analyser.

				


			</div>
			
		</div>

		<div class="row infographic">
			<div class="col-md-6 col-sm-6">
			<p> 
					
					
				<img src="{% static 'images/landingpage/r1.jpg' %}" height="400" width="500" alt="" class="image-section image-on-left wow pulse animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

				</p>
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="details wow fadeInRight animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
					<h3>Brief Background</h3>
		    		<p>
		    		One of the major public health and environmental concerns today is pollution. Air pollution is the introduction into the atmosphere of chemicals or biological materials that cause discomfort, disease, or death to humans, damage other living organisms such as food crops, or damage the natural environment or built environment.
					Air pollution has very adverse effects. According to the World Health Orgganisation, it is estimated that 3.5 million premature deaths occur every year due to household air pollution, and 3.3 million deaths due to outdoor air pollution.  
					Pollution is rampant especially in urban areas of Uganda with cars and factories contributing to the high levels of pollution. As a result, it becomes essential to monitor the air for exceeding levels of pollutants such as Carbon Monoxide (CO), Sulphur Dioxide (SO2), Nitrogen Dioxide (NO2) so that appropriate actions can be taken. 
					With this endeavor, we proposed the QualiHewa air pollution monitoring system that helps the society to monitor the levels of air pollution in the country. Personal air pollution monitoring stations owned by citizens across a location could create awareness about the composition of the air around them.

		    		</p>

		    		
				</div>				
			</div>
		</div>

		<div>
			<div class="col-md-6 col-sm-6 col-md-push-5 col-sm-push-5">
				<img src="{% static 'images/landingpage/r3.jpg' %}" alt="" class="image-section image-on-right wow pulse animated animated img-responsive" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

			</div>

			<div class="col-md-6 col-sm-6 col-md-pull-7 col-sm-pull-7">
				<div class="details wow fadeInLeft animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
					
					<img src="{% static 'images/landingpage/poll.jpg' %}" alt="" class="bottom"> <br/>
					City with high pollution levels. Kampalais a typical example of such places. A lot smog can be seen in the air and this is mainly due to the high level of pollutants that are released into the air.
					<hr>
				
					</p>		
				
				<img src="{% static 'images/landingpage/r4.jpg' %}" alt="" class="image-section image-on-right wow pulse animated animated img-responsive" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;" width="400" height="500">	

				Above and on the right are some screen shots of the Qualihewa hardware. It is an integrated circuit made of the rspberry pi and air sensors.				
				</div>
			</div>
		</div>
			
		</div>
	
	</div>
</section>



<!-- =========================
	FOOTER 
============================== -->
<footer>
	<div class="container">
		
		<div class="contact-box wow fadeinUp animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

			<div class="col-md-4 col-sm-4 company">
				QualiHewa
				<p>Control air pollution, save health issues</p>

				<!-- COPYRIGHT TEXT -->
				<p class="copyright">&copy; 2014 QualiHewa</p>
			</div><!-- /primary -->


	        <div class="col-md-3 col-sm-3 col-md-push-1">
	          <ul class="link-list">
	            <li class="heading">
	             →
	            </li>
	            <li><a href="{% url 'team' %}">Our Team</a></li>
	           
	          </ul>
	        </div>

	        <div class="col-md-3 col-sm-3 col-md-push-1">
	          <ul class="link-list">
	            <li class="heading">
	              Get in touch →
	            </li>
	            <li><a href="http://demo.cheriomedia.com/support">Contact Us</a></li>
	            <li><a href="mailto:ekar45@gmail.com">ekar45@gmail.com</a></li>
	          </ul>

          		<!-- SOCIAL ICONS -->
				<ul class="social-icons">
					<li><a href=""><i class="ion-social-facebook"></i></a></li>
					<li><a href=""><i class="ion-social-twitter"></i></a></li>
					<li><a href=""><i class="ion-icon-social-google-plus"></i></a></li>
				</ul>

	        </div>

			
		</div>
		
	</div>
	<!-- /END CONTAINER --> 
</footer>
<!-- /END FOOTER -->

<!-- =========================
	SCRIPTS 
============================== -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/landingpage/smoothscroll.js' %}"></script>
<script src="{% static 'js/landingpage/jquery.scrollTo.min.js'%}"></script>
<script src="{% static 'js/landingpage/jquery.localScroll.min.js'%}"></script>
<script src="{% static 'js/landingpage/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/landingpage/nivo-lightbox.min.js'%}"></script>
<script src="{% static 'js/landingpage/simple-expand.min.js'%}"></script>
<script src="{% static 'js/landingpage/wow.min.js'%}"></script>
<script src="{% static 'js/landingpage/jquery.stellar.min.js'%}"></script>
<script src="{% static 'js/landingpage/retina-1.1.0.min.js'%}"></script>
<script src="{% static 'js/landingpage/jquery.nav.js'%}"></script>
<script src="{% static 'js/landingpage/matchMedia.js'%}"></script>
<script src="{% static 'js/landingpage/main.js'%}"></script>
<script src="{% static 'js/landingpage/ekko-lightbox.min.js'%}"></script>

<!-- Theme Panel JS -->
<script type="text/javascript" src="{% static 'js/landingpage/panel.js' %}">
</script>
</body></html>