{% extends "hewa/base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load selectable_tags %}


{% block container %}
 <div class='row'>
 	<div class='col-md-10' style='margin-top: 10px;'>
 		<div id='container'></div>
 	</div> 	

	<div class='col-md-2'>
		<span class='label label-danger'>Please select the range</span><br/>
		<hr>
		<form role='form' class='form'>
			<div class='input-group'>
				<select id='selectBox' class='form-control'>
					<option value= 'weekly' selected='selected'>Weekly</option>
					<option value='monthly'>Monthly</option>
				</select>
			</div>
		</form>
	</div>
</div>


<div class='row'>
	<div class='col-md-12'>
	<h3>Readings</h3>
	<table class='table'>
		<thead>
			<th>Station Name</th>
			<th>Carbon monoxide reading</th>
			<th>Nitrogen Dioxide reading</th>
			<th>LPG gas reading</th>
		</thead>
		<tbody>

			{% if readings %}
				{% for station_name, co, no, lpg in readings %}
				<tr>
					<td>{{ station_name }} </td>
					<td>{{ co }}</td>
					<td>{{ no }}</td>
					<td>{{ lpg }}</td>
				</tr>
				{% endfor %}
			{% else %}
			<td colspan=4>
				<div class='panel panel-info' style='text-align: center;'>
					<div class='panel-body'>There are no readings</div>
				</div>
			</td>
			{% endif %}
			<!-- loop through recs -->
		</tbody>
	</table>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'><a href='{% url "generate-excel" %}' class='btn btn-lg btn-primary'>Export Data</a></div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}