{% extends "hewa/base.html" %}
{% load staticfiles %}

{% block extra_css %}
 <style>
    #map-canvas{
      min-height: 500px;
      margin: 0px;
      padding: 0px;
    }
    </style>
{% endblock %}
{% block top_js %}
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC61Itekjkyiu0t1c_D4GFXDHEBuf_XRp4">
 <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
{% endblock %}


{% block container %}
 <div class='row'>
 	<div class='col-md-12'>
 		<div id="map-canvas"></div>
 	</div>
 </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/qualihewa-map.js' %}"></script>
{% endblock %}