{% extends "hewa/base.html" %}
{% load selectable_tags %}
{% block container %}
<h1>{{ object }}</h1>
<div class='panel'>
{# readings #}

<table class='table table-striped table-bordered'>
	<thead>
		<th>Date</th>
		<th>Carbonmonoxide</th>
		<th>Nitrongendioxide</th>
		<th>LPG Gas</th>
		<tbody>
	{% for reading in readings %}
	<tr>
	<td>{{ reading.created_at }}</td>
	<td>{{ reading.carbonmonoxide_sensor_reading }}</td>
	<td> {{ reading.nitrogendioxide_sensor_reading}}</td>
	<td>{{ reading.lpg_gas_sensor_reading }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
