{% extends "hewa/base.html" %}
{% load staticfiles %}

{% block extra_css %}
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
 <style>
 .cool-tangerine{
	font-family:'Tangerine', serif;
 }
 </style>
{% endblock %}


{% block search_form %}
{{ super.block }}
{% endblock %}

{% block container %}
<div class='row'>
	<div class='col-md-12'>
	<h1 style= "text-align:center;">Meet the QualiHewa Team</h1>
	</div>	
</div>

<div class='row'>
	<div class='col-md-2'>
		<img class='th' src="{% static 'images/landingpage/emily.jpg' %}">	
	</div>
	<div class='col-md-6'>
		<h4 style='color:gray; font-size:3em;' class='cool-tangerine'>Mark Lubega</h4>
		<h5 style='font-style: italic;'>Systems Admin</h5>
		<p>I am a female developer based in Uganda, I'm currently in my final year at Makerere University where I'm pursuing a Bachelors degree in Software Engineering. I'm a GDG lead in Makerere University and a core team member of the GirlGeek Kampala group</p>
	</div>
</div>

	<hr>

<div class='row'>
	<div class='col-md-2'>
		<img class='th' src="{% static 'images/landingpage/emily.jpg' %}">	
	</div>
	<div class='col-md-6'>
		<h4 style='color:gray; font-size:3em;' class='cool-tangerine'>Marcellinus Sande</h4>
		<h5 style='font-style: italic;'>Software Developer</h5>
		<p>I am a female developer based in Uganda, I'm currently in my final year at Makerere University where I'm pursuing a Bachelors degree in Software Engineering. I'm a GDG lead in Makerere University and a core team member of the GirlGeek Kampala group</p>
	</div>
</div>

	<hr>

<div class='row'>
	<div class='col-md-2'>
		<img class='th' src="{% static 'images/landingpage/emily.jpg' %}">	
	</div>
	<div class='col-md-6'>
		<h4 style='color:gray; font-size:3em;' class='cool-tangerine'>Emily Karungi</h4>
		<h5 style='font-style: italic;'>Lead Programmer</h5>
		<p>Emily is female tech enthusiast. She is a skilled web developer with great interest in python and django. One of her biggest dreams is having a large number of girls join the tech community. she is a core team member of the GirlGeek Kampala group and belongs to several other tech communities across Uganda and the world. she's is also a big soccer fanatic! :-)</p>
	</div>
</div>

	<hr>

<div class='row'>
	<div class='col-md-2'>
		<img class='th' src="{% static 'images/landingpage/emily.jpg' %}">	
	</div>
	<div class='col-md-6'>
		<h4 style='color:gray; font-size:3em;' class='cool-tangerine'>Phillip Karamagi</h4>
		<h5 style='font-style: italic;'>Embedded Systems Programmer</h5>
		<p>I am a female developer based in Uganda, I'm currently in my final year at Makerere University where I'm pursuing a Bachelors degree in Software Engineering. I'm a GDG lead in Makerere University and a core team member of the GirlGeek Kampala group</p>
	</div>
</div>

	<hr>





{% endblock %}